.banner{
  background-image:url('images/home-image.jpg');
  background-size: cover;
  height: 800px;
}

.site-navbar-wrap {
  position: fixed !important;
  padding: 0 !important;

}


@media (max-width: 768px){

  .site-navbar-wrap {
    background-color: #121212;

  }

  .banner {
    background-image:url('images/home-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 32%;
    height: 800px;
  }

  .site-logo {
    height: 70px !important;
    width: auto !important;
  }

}
